.container {
  padding: 40px !important;
}

.form-container {
  display: flex;
  flex-direction: column;
  position: relative;
}
.edit-submit-btn {
  color: white;
  border: none !important;
  background-color: #7328ba !important;
  border-radius: 50px !important;
  margin-bottom: 20px !important;
  transition: background-color 0.3s ease-in-out;
}

.edit-submit-btn:hover {
  background-color: rgb(158, 48, 158) !important;
  color: white !important;
}

.button-container {
  align-self: flex-end;
  position: absolute;
  top: 0;
  right: 340px;
}

.row.body input {
  margin: 5px;
  border-radius: 5px;
  height: 30px;
}

.input-fields {
  display: flex;
  flex-direction: column;
  margin: 10px;
  gap: 10px;
}

.intro-text-area {
  min-width: 100%;
  max-width: 100%;
  min-height: 100px;
  max-height: 100px;
}

.custom-text-area {
  min-width: 100%;
  max-width: 100%;
  min-height: 100px;
  max-height: 100px;
  border-radius: 5px;
  border: 1px solid #ced4da;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
