.card {
  border: 1px solid rgba(0, 0, 0, 0.125) !important;
  border-radius: 8px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  margin: 20px;
  padding: 20px;
}

.btn {
  margin: 4px;
}

.delete-btn {
  position: absolute;
  top: 100px;
  right: 50px;
}

.create-new-resume-btn {
  margin: 0 20px;
}
