.card {
  border: 1px solid rgba(0, 0, 0, 0.125) !important;
  border-radius: 8px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  margin: 20px;
  padding: 20px;
}

.btn {
  margin: 4px;
}

.delete-btn {
  position: absolute;
  top: 100px;
  right: 50px;
  border-radius: 50px !important;
  padding: 10px 20px !important;
}

.create-new-resume-btn {
  color: white;
  margin-left: 20px;
  background-color: #7328ba !important;
  font-size: 16px;
  border-radius: 50px !important;
  padding: 10px 20px !important;
  transition: background-color 0.3s ease-in-out;
}

.create-new-resume-btn:hover {
  background-color: rgb(158, 48, 158) !important;
  color: white !important;
}
