.totalpage {
  padding: 20px;
  overflow: hidden;
}

.row.header {
  height: 15%;
  padding: 0 !important;
}

.row.body {
  height: 85%;
  padding: 0 !important;
  display: flex;
}

.col-12 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.column-large {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 0 80px 0 20px !important;
  overflow: hidden;
  width: 70%;
}
.column-small {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  overflow: hidden;
  justify-content: flex-start;
  width: 30% !important;
}

.component-small {
  margin: 20px 20px 20px 70px;
}

.component.profile {
  height: 20%;
  margin: 20px 20px 20px 30px;
}

hr.top {
  width: 90%;
  border-top: 1px solid gray !important;
  margin: 0 auto !important;
  display: flex;
}

hr.short {
  width: 65%;
  margin: 5px 0 5px 75px;
  border-top: 1px dotted black !important;
}

.vl {
  border-left: 1px dotted black !important;
  margin: 0 auto !important;
}

h2.cvname {
  font-size: 3em;
  letter-spacing: 5px;
  text-transform: uppercase;
  text-align: center;
}

h3.title {
  font-size: 1.25em;
  letter-spacing: 5px;
  text-align: center;
  text-transform: uppercase;
}

h4.blocktitle {
  font-size: 1.2em;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: left;
}

ul.contact {
  list-style: none;
  font-size: 1em;
  line-height: 2em;
  padding: 0 !important;
  margin: 0 auto !important;
}

ul.skills {
  list-style: none;
  font-size: 1em;
  line-height: 2em;
  padding: 0 !important;
}

ul.education {
  list-style: none;
  padding: 0 !important;
}

li.timeframe {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 3px;
}

li.institute {
  font-size: 1em;
  text-transform: uppercase;
  margin-bottom: 3px;
}

li.educationtitle {
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 12px;
}

li.shortdescr {
  font-size: 1em;
  padding-right: 10px;
}

.profiletext {
  font-size: 1em;
  line-height: 2em;
}

.work-experience {
  height: 75%;
}

ul.workexperience {
  list-style: none;
  padding: 0px !important;
  margin: 0 0 15px 0 !important;
}

li.job {
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 5px;
  text-align: justify;
}

.linkedinlink {
  font-style: italic;
}

hr.right {
  width: 90%;
  border-top: 1px solid gray !important;
  margin: 10px 0 0 10px !important;
}

.a4-resume {
  height: 1123px; /* A4 height */
  margin: 0 auto !important; /* Center the container */
  background-color: white; /* Background color to simulate paper */
  border: 0.7px solid rgba(53, 53, 53, 0.5); /* Add a solid border */
  box-shadow: 0 0 0.5cm rgba(53, 53, 53, 0.5); /* Add a 0.5cm shadow */
  padding: 0 !important;
  width: 793px; /* A4 width */
}
