.totalpage {
  padding: 20px;
  overflow: hidden;
}

.row.header {
  height: 15%;
  padding: 0 !important;
}

.row.body {
  height: 85%;
  padding: 0 !important;
  display: flex;
}

.header-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding-bottom: 20px;
}

.column-large {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 65%;
}
.column-small {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  overflow: hidden;
  justify-content: flex-start;
  width: 35% !important;
  padding: 0 !important;
}

.component-small {
  padding: 15px 12px 20px 60px;
}

hr.top {
  width: 90%;
  border-top: 1px dotted black !important;
  margin: 0 auto !important;
  display: flex;
}

hr.short {
  width: 70%;
  margin: 0px 0 0px 60px;
  border-top: 1px dotted black !important;
}

.vl {
  border-left: 1px dotted black !important;
  margin: 0 auto !important;
}

h2.cvname {
  font-size: 3em;
  letter-spacing: 5px;
  text-transform: uppercase;
  text-align: center;
}

h3.title {
  font-size: 1.25em;
  letter-spacing: 5px;
  text-align: center;
  text-transform: uppercase;
}

h4.blocktitle {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: left;
}

ul.contact {
  list-style: none;
  font-size: 1em;
  line-height: 1.75em;
  padding: 0 !important;
  margin: 0 auto !important;
}

ul.skills {
  list-style: none;
  font-size: 1em;
  line-height: 1.75em;
  padding: 0 !important;
  margin-bottom: -2px !important;
}

/* EDUCATION */
ul.education {
  list-style: none;
  padding: 0 !important;
  margin-bottom: 10px;
}

li.timeframe {
  font-size: 14px;
  text-transform: uppercase;
}

li.educationtitle {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

li.shortdescr {
  font-size: 12px;
  padding-right: 15px;
  line-height: 1.25em;
  margin-top: 3px;
}

/* COLUMN RIGHT  */
.component-big {
  padding: 15px 50px 15px 25px;
}

.profiletext {
  font-size: 1em;
  line-height: 1.25em;
}

ul.workexperience {
  list-style: none;
  padding: 0 0 20px 0 !important;
  margin: 0 auto !important;
}

li.job {
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 5px;
}

li.shortjobdescr {
  font-size: 1em;
  padding-right: 10px;
  line-height: 1.25em;
}

hr.right {
  width: 80%;
  border-top: 1px dotted black !important;
  margin: 5px 0 0 25px !important;
}

.a4-resume-view {
  height: 1123px; /* A4 height */
  margin: 0 auto !important; /* Center the container */
  background-color: white; /* Background color to simulate paper */
  border: 0.7px solid rgba(53, 53, 53, 0.5); /* Add a solid border */
  box-shadow: 0 0 0.5cm rgba(53, 53, 53, 0.5); /* Add a 0.5cm shadow */
  padding: 0 !important;
  width: 793px; /* A4 width */
}

.linkedinfooter {
  position: absolute;
  bottom: -25px;
}
.linkedinlink {
  font-style: italic;
  display: flex;
}

.btn.edit {
  color: white;
  background-color: #662d91;
  font-size: 16px;
  border-radius: 25px;
  padding: 10px 20px;
}

.btn.edit:hover {
  color: #662d91;
  background-color: #f0e68c;
  font-size: 16px;
  border: 1px solid #f0e68c;
  transition: all 200ms ease;
}
