.custom-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: aliceblue;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.custom-modal-content {
  text-align: center;
}
.custom-modal-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.modal-btn {
  border: none;
  border-radius: 5px;
  background-color: blue;
  color: aliceblue;
  padding: 2px;
  width: 120px;
  height: 30px;
}

.user-page-body {
  padding: 20px;
}

.create-resume-input {
  width: 35% !important;
  height: 50px !important;
}

.create-resume-form {
  margin-top: 40px !important;
  margin-bottom: 20px !important;
}

.btn-edit-user-page {
  background-color: #e8bd58;
  border-radius: 50px !important;
  padding: 10px 20px !important;
  color: white !important;
}

.btn-preview-user-page {
  background-color: #b58364;
  border-radius: 50px !important;
  padding: 10px 20px !important;
  color: white !important;
}

.btn-delete-user-page {
  background-color: rgb(219, 125, 125);
  border-radius: 50px !important;
  padding: 10px 20px !important;
  color: white !important;
}
